html {
  background-color: cornflowerblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

#new-todo-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#new-todo-form > * {
  margin: 0.15rem;
}

#list {
  padding: 0;
}

.list-item {
  list-style: none;
}

.list-item-label:hover,
[data-list-item-checkbox]:hover {
  cursor: pointer;
}

.list-item-label:hover > [data-list-item-text] {
  color: #333;
  text-decoration: line-through;
}

[data-list-item-checkbox]:checked ~ [data-list-item-text] {
  text-decoration: line-through;
  color: #aaa;
}

[data-button-delete] {
  background-color: crimson;
  font-size: x-small;
}

button {
  cursor: pointer;
  background-color: #333;
  color: whitesmoke;
  border-radius: 3px;
}
